.containerPortrait {
    padding: 0;
    margin: 0;
    height: 50vh;
    background: url("https://images4.alphacoders.com/105/1053128.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.containerPortrait span {
    color: #fff;
    font-size: 3vw;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}